<!-- Area colapsable de las miniaturas de los cursos -->
<div class="collapse bg-light" id="navbarCourses" style="display: block;">
    <div class="container-fluid">
      <div class="row">
        <!-- Miniaturas de clases -->
        <div class="col-4 py-4" *ngFor="let miniatura of miniaturas">
          <div class="card">
            <div class="card-body course-thumb" (click)="verDetalle(miniatura._id)" style="background-image: url(assets/{{miniatura.banner}});">
              <h5 class="text-white">{{miniatura.nombreClase}}</h5>
            </div>
          </div>
        </div>
        <!-- Miniaturas de clases -->
     <!--    <div class="col-2 py-4">
          <div class="card">
            <div class="card-body course-thumb" onclick="showClass('MM110')" style="background-image: url(assets/img/backgrounds/img_bookclub.jpg);">
              <h5 class="text-white">MM110</h5>
            </div>
          </div>
        </div> -->
        <!-- Miniaturas de clases -->
        <!-- <div class="col-2 py-4">
          <div class="card">
            <div class="card-body course-thumb" onclick="showClass('AI')" style="background-image: url(assets/img/backgrounds/img_breakfast.jpg);">
              <h5 class="text-white">AI</h5>
            </div>
          </div>
        </div> -->
        <!-- Miniaturas de clases -->
       <!--  <div class="col-2 py-4">
          <div class="card">
            <div class="card-body course-thumb" onclick="showClass('IS510')" style="background-image: url(assets/img/backgrounds/img_code.jpg);">
              <h5 class="text-white">IS510</h5>
            </div>
          </div>
        </div> -->
        <!-- Miniaturas de clases -->
        <!-- <div class="col-2 py-4">
          <div class="card">
            <div class="card-body course-thumb" onclick="showClass('DW')" style="background-image: url(assets/img/backgrounds/img_graduation.jpg);">
              <h5 class="text-white">DW</h5>
            </div>
          </div>
        </div> -->
      </div>
    </div>
    <hr>
    <div class="container text-center">
      <button class="btn btn-primary">Agregar curso</button>
    </div>
    <hr class="mb-0">
  </div>
