<router-outlet></router-outlet>
<header>
  <!-- Area colapsable de las miniaturas de los cursos -->
  <div #Miniatura="ngbCollapse" [(ngbCollapse)]="isMiniatura">
    <app-miniatura-clase (onVerMiniatura)="verMiniatura($event)" #miniaturaClase></app-miniatura-clase>
  </div>
  

  <!-- Area colapsable de los instructores  'visible':regionVisible == 'listadoPreguntas' 'no-visible':regionVisible != 'listadoInstructores' -->
  
  <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed">
    <app-listado-instructores (onverMiniaturaClases)="verInstructor($event)" #listaInstructores></app-listado-instructores>
  </div>
  


  <div class="navbar navbar-light bg-light shadow-sm">
    <div class="d-flex px-4">
      <button type="button" class="mx-4 pt-3 btn bg-transparent" (click)="Miniatura.toggle()" [attr.aria-expanded]="!isMiniatura"
      aria-controls="collapseExample">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a href="#" class="navbar-brand d-flex align-items-center">
      <img src="assets/img/icons/googlelogo_clr_74x24px.svg"> 
        <span class="text-muted small">&nbsp;Classroom</span>
    </a>
      <!-- <button class="navbar-toggler mx-4" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCourses" aria-controls="navbarCourses" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
    </div>
    <div id="tabs" [ngClass]="{'visible':regionVisible != 'detalleClase', 'no-visible':regionVisible == 'listadoClase'}">
      <span id="tab-clase" (click)="verClase()" [class.active] class="p-3 mx-2 tab-option">Clase</span>
      <span id="tab-asignaciones" [class.active] (click)="verAsignaciones()" class="p-3 mx-2 tab-option">Asignaciones</span>
      <span id="tab-participantes" [class.active] (click)="verParticipantes()" class="p-3 mx-2 tab-option">Participantes</span>
    </div>
    
      <button type="button" class="mx-4 pt-3 btn bg-transparent" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed"
        aria-controls="collapseExample">
        <img src="assets/img/profile-pics/{{usuarioSeleccionado}}" class="rounded-circle pp-small">
      </button>
    
  </div>
</header>

<main>

  <!-- Clases -->
  <div [ngClass]="{'visible':regionVisible == 'listadoClase' ,'no-visible':regionVisible != 'listadoClase'}">
    <app-listado-clases (onVerDetalle)="verDetalle($event)" #listaClases></app-listado-clases>
  </div>
  
  <!--Detalle de la clase-->
  <div>
    <app-detalle-clase (onVerClases)="verClases($event)" #detalleClase></app-detalle-clase>
  </div>
  
  </main>